/* Embedded the Google fonts with @import */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

body {
    --cp-red: #E6563B;
    --cp-orange: #EB9D3A;
    --cp-green: #7CB06C;
    --cp-aqua: #00ABA9;
}

.logo-img {
    width: 105px;
    height: 105px;
    margin-top: -5em;
}

.abel-text {
    font-family: 'Abel', sans-serif;
}

.nav-link {
    color: black !important;
}

.title {
    font-family: 'Anton', sans-serif;
}

.content-title {
    font-size: 64px;
}

.content-subtitle {
    font-size: 48px;
}

.circle {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 8px solid black;
}

.red {
    background-color: var(--cp-red);
}
.orange {
    background-color: var(--cp-orange);
}

.green {
    background-color: var(--cp-green);
}

.aqua {
    background-color: var(--cp-aqua);
}

#header-section {
    background-color: #E6E6E6;
}

#content-section {
    background-color: #E6E6E6;
}

#work-text {
    font-family: 'Abel', sans-serif;
}

.imgColor {
    background-color: lightgrey !important;
}

#footer {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
}

.icon {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: none;
}

.icon p {
    font-size: 9px;
    font-family: 'Anton', sans-serif;
}


/*Extra small media query*/
@media screen and (min-width: 0px) and (max-width: 575px) {
        .sm-navbar{
            display: none;
        }
    }


/*small media query*/
@media screen and (min-width: 576px) {
    .logo-img{
        margin-top: 0;
    }



    #small-nav {
        margin-bottom: -5em;

    }

    .pg-title {
        padding-top: 2em;
    }

    .logo-title {
        order: 1;

    }

}
