/* Embedded the Google fonts with @import */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

* {
    box-sizing: border-box;
}

body {
    --cp-red: #E6563B;
    --cp-orange: #EB9D3A;
    --cp-green: #7CB06C;
    --cp-aqua: #00ABA9;
    --cp-grey: #E6E6E6;
    --cp-tweet: #1DA1F3;
}

.logo-img {
    width: 105px;
    height: 105px;
    margin-top: -5em;
}

.abel-text {
    font-family: 'Abel', sans-serif;
}

.nav-link {
    color: black !important;
    text-transform: uppercase;
}

.title {
    font-family: 'Anton', sans-serif;
}

.content-title {
    font-size: 64px;
}

.content-subtitle {
    font-size: 48px;
}

.circle {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 8px solid black;
}

.red {
    background-color: var(--cp-red);
}
.orange {
    background-color: var(--cp-orange);
}

.green {
    background-color: var(--cp-green);
}

.aqua {
    background-color: var(--cp-aqua);
}

#header-section {
    background-color: var(--cp-grey);
}

#content-section {
    background-color: var(--cp-grey);
}

.txt-class {
    font-family: 'Abel', sans-serif;
}

.imgColor {
    background-color: lightgrey !important;
}

.footer {
    font-family: 'Abel', sans-serif !important;
    font-size: 15px;
}

.icon {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: none;
}

.icon p {
    font-size: 9px;
    font-family: 'Anton', sans-serif;
}

/* Small Size Screen */
@media screen and (min-width: 576px) {
    .logo-img{
        margin-top: -.2em;
    }

    #small-nav {
        margin-bottom: -5.75em;
        margin-top: -1em;
    }

    .content-title {
        font-size: 48px;
        padding-top: 2em;
    }

    .content-subtitle {
        font-size: 40px;
    }

    .logo-title {
        order: 3 !important;
        margin: -1em -4em auto;
    }

    .logo-title h1 {
        font-size: 32px !important;
    }

    .nav-item {
        margin-top: .5em;
    }

}

/* Medium Size Screen */
@media screen and (min-width: 768px) {
    .logo-title {
        order: 0 !important;
        padding-left: 5em;
    }

    #small-nav {
        margin-bottom: -3.25em;
        margin-top: -1em;
    }

    .logo-img {
        margin-top: -.5em;
    }

    .nav-item {
        padding: 0 1em 0;
    }

    .tweet {
        color: var(--cp-tweet);
    }

    .bg-tweet {
        color: var(--cp-grey);
    }

    .image-box {
        height: 65px;
    }
}

@media screen and (min-width: 992px) {
    .adjust-width {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .adjust-width {
        width: 50%;
    }

    .content-title {
        font-size: 64px;
    }

    .content-subtitle {
        font-size: 48px;
    }
}